
1.	Открыть папку Панель управления (Control Panel). Создать ярлык папки Панель управления и поместить его на Рабочий стол.
2.	Изменить оформление Рабочего стола - Desktop (рисунок фона, заставка, цвет).
3.	В Проводнике (File Explorer) создать папку, имя которой соответствует вашей фамилии,
/build/